:root {
  --clr1: #756ab6;
  --clr2: rgb(120, 99, 110);

  --clr1bg: #756ab6;
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: #e0aed0;
  --clr2bg-light: #f3f8ff;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
}
